.custom-marker {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.popup-content {
  text-align: center;
  padding: 5px;
}

.popup-plate {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
}

.popup-province {
  font-size: 1em;
  color: #666;
}

.leaflet-popup-content-wrapper {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
}

.leaflet-popup-tip {
  background: #ffffff;
}

.search-container {
  margin-bottom: 10px;
  text-align: center;
}

.search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

