/* ทำให้ navbar โปร่งใสเริ่มต้น */
.navbar {
  background-color: rgba(255, 255, 255, 0); /* สีขาวโปร่งใส 20% */
  
  
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* สีลิงก์ใน navbar และสไตล์การ hover */
.nav-link {
  color: #fff !important; /* สีลิงก์เป็นสีขาว เพื่อให้มองเห็นชัดเจนบนวิดีโอ */
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #7a5af5; /* สีเมื่อ hover เป็นสีม่วง */
}

.navbar-brand {
  font-size: 1.8rem !important;
  font-weight: bold !important;
  color: #fff !important; /* สีของโลโก้ */
}

.navbar-brand:hover {
  color: #7a5af5; /* สีของโลโก้เมื่อ hover */
}

/* ปรับ navbar เมื่อมีการ scroll */
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0); /* เปลี่ยนเป็นสีขาวโปร่งใสเมื่อ scroll */
  backdrop-filter: blur(10px); /* ทำให้เบลอมากขึ้น */
}

/* ปรับการแสดงผลของ navbar บนหน้าจอขนาดเล็ก */
.navbar-nav {
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* เพิ่มพื้นหลังขาวเมื่อเป็นเมนูมือถือ */
  }

  .navbar-nav .nav-link {
    padding: 1rem;
    text-align: center;
    color: #000 !important;

  }

  .navbar-brand {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 10.25rem;
  }
}

.mt-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  h2 {
    color: #ececece7;
  }

  p {
    color: #ececece7;
  }
}

/* วิดีโอพื้นหลัง */
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* ครอบคลุมทั้งหน้าจอโดยไม่ทำให้สัดส่วนวิดีโอเสียหาย */
  z-index: -1; /* ทำให้วิดีโออยู่ด้านหลัง */
}

/* เพื่อให้แน่ใจว่าคอนเทนต์อยู่เหนือวิดีโอ */
.app {
  position: relative;
  z-index: 1;
  color: white;
}

.container {
  position: relative;
  z-index: 2; /* คอนเทนต์อยู่บนวิดีโอ */
}

.navbar-toggler{
  color: white !important; /* เปลี่ยนสีของ toggle button */
  background-color: #fff !important;
  .nav-item{
    a.nav-link{
      color: #000 !important; 

    }
  }
}
